SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=
SNOWFLAKE_WAREHOUSE=WH_XS
SNOWFLAKE_DATABASE=DM_DEMO
SNOWFLAKE_SCHEMA=RAW 

# Local MySQL (via docker-compose)
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=retail
MYSQL_USER=retail
MYSQL_PASSWORD=retailpw